

<%- include('../common/head.ejs')-%>
<%- include('../common/header.ejs')-%>
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <%- include('../common/sidebar.ejs')-%>
      <!-- partial -->

<div class="main-panel">        
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Update The Booking Info </h4>
            <p class="card-description">
             
            </p>
            <form class="forms-sample" method="post" action="/editcustomerdata/<%-booking.id %>">
              <div class="form-group">
                <label for="exampleInputUsername1">Name</label>
                <input type="text" class="form-control"name ="name" id="exampleInputUsername1"value="<%-booking.name %>" placeholder="Enter your name ">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" name ="email" id="exampleInputEmail1" value="<%-booking.email %>" placeholder="Enter the email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Mobile_No</label>
                <input type="text" class="form-control" name ="mobile_No" id="exampleInputPassword1"value="<%-booking.mobile_No %>" placeholder="Mobile_number">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Boarding_point</label>
                <input type="text" class="form-control" name ="boardingpoint" id="exampleInputPassword1"value="<%-booking.boarding_point %>" placeholder="Boarding_point">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Seat</label>
                <input type="text" class="form-control" name ="seat" id="exampleInputPassword1"value="<%-booking.seat %>" placeholder="Seat_number">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Amount</label>
                <input type="text" class="form-control" name ="amount" id="exampleInputPassword1"value="<%-booking.Amount %>" placeholder="Amount">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Route</label>
                <input type="text" class="form-control" name ="route" id="exampleInputPassword1"value="<%-booking.route %>" placeholder="Bus_route">

              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Depature_date</label>
                <input type="text" class="form-control" name ="date" id="exampleInputPassword1"value="<%-booking.depature_date %>" placeholder="Depature_date">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Travels</label>
                <input type="text" class="form-control" name ="busname" id="exampleInputPassword1"value="<%-booking.bus_name %>" placeholder="travels">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">paymentstatus</label>
                <input type="text" class="form-control" name ="paymentstatus" id="exampleInputPassword1"value="<%-booking.paymentstatus %>" placeholder="paymentstatus">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Bus_Number</label>
                <input type="text" class="form-control" name ="busnumber" id="exampleInputPassword1"value="<%-booking.busnumber %>" placeholder="busnumber">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Time</label>
                <input type="text" class="form-control" name ="time" id="exampleInputPassword1"value="<%-booking.time %>" placeholder="Time">
              </div>
             
             
             
             
             
             
             
              
              <button type="submit" class="btn btn-primary me-2">Update</button>
             
            </form>
            <button class="btn btn-light">Cancel</button>
          </div>
        </div>
      </div>
      
<%- include('../common/footer.ejs')-%>