<%- include('../common/head.ejs')-%>
<%- include('../common/header.ejs')-%>
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <%- include('../common/sidebar.ejs')-%>
      <!-- partial -->

<div class="main-panel">        
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add New Routes </h4>
            <p class="card-description">
             
            </p>
            <form class="forms-sample"method="post" action="/editbusroutedata/<%-busroutepass.id %>">
              <div class="form-group">
                <label for="exampleInputUsername1">Source</label>
                <input type="text" class="form-control"name ="source" id="exampleInputUsername1" value="<%-busroutepass.source %>" placeholder="source">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Destination</label>
                <input type="text" class="form-control" name ="destination" id="exampleInputEmail1"value="<%-busroutepass.destinatin %>" placeholder="Destination">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Bus_Name</label>
                <input type="text" class="form-control" name ="bus_name" id="exampleInputPassword1"  value="<%-busroutepass.bus_name %>" placeholder="Bus Name ">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Departure_date</label>
                <input type="date" class="form-control" name ="depature_date" id="exampleInputPassword1" value="<%-busroutepass.depature_date %>" placeholder="Departure_Date">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Seat</label>
                <input type="text" class="form-control" name ="seat" id="exampleInputPassword1" value="<%-busroutepass.seat %>" placeholder="seat">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Cost</label>
                <input type="text" class="form-control" name ="cost" id="exampleInputPassword1"  value="<%-busroutepass.cost %>"  placeholder="Cost">
              </div>
              
             
              
              <button type="submit" class="btn btn-primary me-2">Update</button>
             
            </form>
            <button class="btn btn-light">Cancel</button>
          </div>
        </div>
      </div>
      
<%- include('../common/footer.ejs')-%>



