






<%- include('../common/head.ejs')-%>
<%- include('../common/header.ejs')-%>
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <%- include('../common/sidebar.ejs')-%>
      <!-- partial -->

<div class="main-panel">        
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Print The Ticket </h4>
            <p class="card-description">
              <h10 style=" color: rgb(220, 20, 20);">
                <%-adminticketerror %>
              </h10>
              
         
             
            </p>
            <form class="forms-sample"method="post" action="/adminticket">
              
              
              <div class="form-group">
                <label for="exampleInputPassword1">Ticket NO</label>
                <input type="text" class="form-control" name ="ticketPin" id="exampleInputPassword1" placeholder="Enter the ticket NUmber">
              </div>
              
             
              
              <button type="submit" class="btn btn-primary me-2">Submit</button>
             
            </form>
     
          </div>
        </div>
      </div>
      
<%- include('../common/footer.ejs')-%>














